/* Inter Font Install */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Common CSS Style */
.container {
    max-width: 1360px;
    margin: auto;
}
.com-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Header CSS */
header {
    background-color: #FFFFFF;
    /* height: 120px; */
}

/* Nav CSS */
nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

/* Nav Common CSS */
.logo, .nav-link, .nav-btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}


nav ul li {
    list-style: none;
    /* display: inline; */
    margin-right: 32px;
}
nav ul li:last-child {
    margin-right: 0px;
}
nav ul li a {
    tab-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

/* Banner CSS */
.banner {
    background: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 750px;
    padding: 150px 0;
}
.banner-content {
    width: 770px;
    margin: 0 auto;
}
.banner-content button {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    padding: 12px 24px;     
    gap: 10px;              
    background-color: #FFFFFF;
    color: #469165;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}
.banner-content button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.banner-content h2 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-transform: capitalize;
}
.banner-content .text-green {
    color: #30B868;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.banner-content p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
}


.banner .banner-btn i {
    margin-left: 5px;
}
.btn {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    padding: 10px 20px;     
    gap: 10px;
    color: #FFFFFF;
    background-color: #0e0e0e3a;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 16px;
}
.btn svg {
    margin-top: 1px;
    margin-right: 5px;
}

/* Note Section CSS */
.notes {
    padding: 60px 0;
    text-align: center;
}
.note-content h2 {
    color: #001931;
    font-size: 46px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 16px;
}
.note-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.notes .note-cards {
    display: flex;
    gap: 25px;
}
.notes .note-card {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding: 60px 24px;
    border-radius: 5px;
}
.notes .note-cards .note-card img {
    width: 40px;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50px;
    padding: 10px 10px
}
.notes .note-cards .note-card h3 {
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}
.notes .note-cards .note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Brain Section CSS */
.brain {
    padding: 50px 0;
    display: flex;
    gap: 60px;
    align-items: center;
}

.brain-img {
    width: 620px;
    height: 620px;
}
.brain-img img {
    width: 600px;
    height: 600px;
}

.brain-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    height: 500px;
}

.brain-content h5 {
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.brain-content h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.brain-content p {
    color: #627382;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}
.brain-content ul {
    list-style: none; 
    padding: 0;
    margin-top: 20px;
}

.brain-content li {
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 12px;
    position: relative;
}
.brain-content li i {
    margin-right: 10px;
}
/* Think Section CSS */
.think-content {
    background-color: #F7F6F2;
    padding: 80px 0;
    text-align: center;
    border-radius: 15px;
    margin: 120px 0;
}
.think-content h3 {
    color: #001931;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.think-content p {
    color: #627382;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.think-content button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    gap: 12px;
    background-color: #469165; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}


/* Footr Section CSS */
footer {
    background-color: #001931;
    color: #FAFAFA;
    height: 348px;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 80px 0;
}
.footer-content .f-logo img {
    width: 139px;
    height: 60px;
}
.footer-content .f-social h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-content .f-social img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
.footer-content .f-social img:last-child {
    margin-right: 0px;
}
footer hr {
    margin-bottom: 30px;
}
